<a href="https://colab.research.google.com/github/hafizmursidd/DataEngineer_DQLab/blob/main/dataCleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

url = "/content/dqlab_telco.csv"

df = pd.read_csv(url)

print(df.columns)

Index(['UpdatedAt', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'Churn'],
      dtype='object')

Filter column customer id with spesificitaion:
only contains number and just 11 or 12 character and also started with number of 45

In [7]:
df['valid_id'] = df['customerID'].astype(str).str.match(r"(45\d{9,10})")
print(df['valid_id'].head())

df = (df[df['valid_id'] == True]).drop('valid_id', axis=1)

print('result of new id customer', df['customerID'].count())

0    True
1    True
2    True
3    True
4    True
Name: valid_id, dtype: bool
result of new id customer 7006

Drop duplicate column or ID number

In [11]:
df.drop_duplicates() #drop duplicate rows

#drop duplicate id, sorted by periode
df = df.sort_values('UpdatedAt', ascending=False).drop_duplicates('customerID')

print("Value after drop duplicate id")
df['customerID'].count()

Value after drop duplicate id

6993

**Handling Missing value**

check missing value on column "Churn"

In [12]:
print("Total missing value on column Churn", df['Churn'].isnull().sum())

Total missing value on coloumn Churn 43

In [13]:
df.dropna(subset=['Churn'], inplace=True)

print('Total rows and column after deleted missing value', df.shape)

Total rows and coloumn after deleted missing value (6950, 22)

Check missing value on others column

In [14]:
print("Status missing value:", df.isnull().values.any())
print("\nTotal missing values on every column:")
print(df.isnull().sum().sort_values(ascending=False))

Status missing value: True

Total missing values on every coloumn:
tenure              99
MonthlyCharges      26
TotalCharges        15
UpdatedAt            0
DeviceProtection     0
PaymentMethod        0
PaperlessBilling     0
Contract             0
StreamingMovies      0
StreamingTV          0
TechSupport          0
OnlineBackup         0
customerID           0
OnlineSecurity       0
InternetService      0
MultipleLines        0
PhoneService         0
Dependents           0
Partner              0
SeniorCitizen        0
gender               0
Churn                0
dtype: int64

for column Tenure, every null value replaced by 11

In [15]:
df['tenure'].fillna(11, inplace=True)

Missing value on column MonthlyCharges and TotalCharges will be replace by median on that column

In [16]:
for col_name in list(['MonthlyCharges', 'TotalCharges']):
  median=df[col_name].median()
  df[col_name].fillna(median, inplace=True)

In [17]:
print(df.isnull().sum().sort_values(ascending=False))

UpdatedAt           0
customerID          0
TotalCharges        0
MonthlyCharges      0
PaymentMethod       0
PaperlessBilling    0
Contract            0
StreamingMovies     0
StreamingTV         0
TechSupport         0
DeviceProtection    0
OnlineBackup        0
OnlineSecurity      0
InternetService     0
MultipleLines       0
PhoneService        0
tenure              0
Dependents          0
Partner             0
SeniorCitizen       0
gender              0
Churn               0
dtype: int64