<a href="https://colab.research.google.com/github/hafizmursidd/DataEngineer_DQLab/blob/main/ETLTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import data

In [107]:
import pandas as pd

linkURL="https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv"
df = pd.read_csv(linkURL)

In [108]:
df.columns

Index(['participant_id', 'first_name', 'last_name', 'birth_date', 'address',
       'phone_number', 'country', 'institute', 'occupation', 'register_time'],
      dtype='object')

In [109]:
df.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09

**Extract Post Code from column address.**
post code is located on last word from address

'(\d+)$'

> \d, Returns where the string contains digits (numbers from 0-9)

> $, Ends with

In [110]:
df['address'].head(15)

0              Gg. Monginsidi No. 08\nMedan, Aceh 80734
1        Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2                Jalan Kebonjati No. 0\nAmbon, SS 57739
3       Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4     Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
5          Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880
6             Gg. Cihampelas No. 4\nSamarinda, KT 48108
7              Gg. Sukabumi No. 7\nParepare, Bali 64255
8                      Gg. Peta No. 01\nMedan, BE 89056
9     Jalan Cempaka No. 8\nBitung, Kalimantan Barat ...
10      Gang Laswi No. 34\nKediri, Sulawesi Barat 18717
11     Gang HOS. Cokroaminoto No. 74\nBau-Bau, MA 40721
12          Jl. Sukajadi No. 387\nGorontalo, Aceh 40645
13    Jl. Rajawali Timur No. 0\nBatam, Kalimantan Ti...
14         Gg. Astana Anyar No. 06\nPagaralam, KT 46071
Name: address, dtype: object

In [111]:
df['KodePos'] = df['address'].str.extract(r'(\d+)$')

df['KodePos'].head()

0    80734
1    09434
2    57739
3    76156
4    70074
Name: KodePos, dtype: object

Extract Kota from column address

'(?<=\n)(\w.+)(?=,)'

> Indented block

In [112]:
df['kota'] = df['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')

make 'github' columns from firstname and lastname columns, after doing lowercase

In [113]:
df['github_profile'] = 'https://github.com' + df['first_name'].str.lower() + df['last_name'].str.lower()

In [114]:
df['github_profile'].head()

0      https://github.comcitranurdiyanti
1         https://github.comarissetiawan
2    https://github.comcorneliahandayani
3          https://github.comsolehrajasa
4           https://github.comviviastuti
Name: github_profile, dtype: object

Doing a cleansing from 'phone number' column, with several spesification

1.   if the value started with 62 or +62, will be replaced to 0.
2.   if the value had punctuation (), -, or etc. will be removed
1.   if the value had space, will be removed
2.   All of value already done will be save on "cleaned_phone_number"

In [115]:
df['phone_number'].head(15)

0        (0151) 081 2706
1     +62 (036) 461 7027
2           089 833 6695
3     +62 (418) 329-4756
4             0812511835
5      +62 (11) 369-7082
6        (0244) 430 7220
7     +62 (056) 931-9059
8      +62 (11) 826-1289
9      +62 (86) 156 1327
10    +62 (004) 561 6831
11      +62-304-075-1010
12      +62-766-738-4901
13       +62-57-926-3059
14    +62 (447) 608 1087
Name: phone_number, dtype: object

In [121]:
df['cleaned_phone_number'] = df['phone_number'].str.replace(r'^(\+62|62)', '0')

#df['cleaned_phone_number'] = df['phone_number'].str.replace(r'^(62)', '0')
#df['cleaned_phone_number'] = df['phone_number'].str.replace('^+62', '32222323', regex=False)

#df['cleaned_phone_number'] = df['phone_number'].str.replace(r'[-]', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [122]:
df['cleaned_phone_number'] = df['cleaned_phone_number'].str.replace("[\s()-]", '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [123]:
df['cleaned_phone_number'].head(22)

0      01510812706
1      00364617027
2       0898336695
3      04183294756
4       0812511835
5       0113697082
6      02444307220
7      00569319059
8       0118261289
9       0861561327
10     00045616831
11     03040751010
12     07667384901
13      0579263059
14     04476081087
15      0930630588
16     08572635384
17     06313638240
18     07835295810
19      0835045393
20    007487231906
21      0853316705
Name: cleaned_phone_number, dtype: object