<a href="https://colab.research.google.com/github/hafizmursidd/DataEngineer_DQLab/blob/main/ETLTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import data

In [107]:
import pandas as pd

linkURL="https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv"
df = pd.read_csv(linkURL)

In [108]:
df.columns

Index(['participant_id', 'first_name', 'last_name', 'birth_date', 'address',
       'phone_number', 'country', 'institute', 'occupation', 'register_time'],
      dtype='object')

In [109]:
df.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09

**Extract Post Code from column address.**
post code is located on last word from address

'(\d+)$'

> \d, Returns where the string contains digits (numbers from 0-9)

> $, Ends with

In [110]:
df['address'].head(15)

0              Gg. Monginsidi No. 08\nMedan, Aceh 80734
1        Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2                Jalan Kebonjati No. 0\nAmbon, SS 57739
3       Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4     Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
5          Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880
6             Gg. Cihampelas No. 4\nSamarinda, KT 48108
7              Gg. Sukabumi No. 7\nParepare, Bali 64255
8                      Gg. Peta No. 01\nMedan, BE 89056
9     Jalan Cempaka No. 8\nBitung, Kalimantan Barat ...
10      Gang Laswi No. 34\nKediri, Sulawesi Barat 18717
11     Gang HOS. Cokroaminoto No. 74\nBau-Bau, MA 40721
12          Jl. Sukajadi No. 387\nGorontalo, Aceh 40645
13    Jl. Rajawali Timur No. 0\nBatam, Kalimantan Ti...
14         Gg. Astana Anyar No. 06\nPagaralam, KT 46071
Name: address, dtype: object

In [111]:
df['KodePos'] = df['address'].str.extract(r'(\d+)$')

df['KodePos'].head()

0    80734
1    09434
2    57739
3    76156
4    70074
Name: KodePos, dtype: object

Extract Kota from column address

'(?<=\n)(\w.+)(?=,)'

> Indented block

In [112]:
df['kota'] = df['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')

make 'github' columns from firstname and lastname columns, after doing lowercase

In [113]:
df['github_profile'] = 'https://github.com' + df['first_name'].str.lower() + df['last_name'].str.lower()

In [114]:
df['github_profile'].head()

0      https://github.comcitranurdiyanti
1         https://github.comarissetiawan
2    https://github.comcorneliahandayani
3          https://github.comsolehrajasa
4           https://github.comviviastuti
Name: github_profile, dtype: object

Doing a cleansing from 'phone number' column, with several spesification

1.   if the value started with 62 or +62, will be replaced to 0.
2.   if the value had punctuation (), -, or etc. will be removed
1.   if the value had space, will be removed
2.   All of value already done will be save on "cleaned_phone_number"

In [115]:
df['phone_number'].head(15)

0        (0151) 081 2706
1     +62 (036) 461 7027
2           089 833 6695
3     +62 (418) 329-4756
4             0812511835
5      +62 (11) 369-7082
6        (0244) 430 7220
7     +62 (056) 931-9059
8      +62 (11) 826-1289
9      +62 (86) 156 1327
10    +62 (004) 561 6831
11      +62-304-075-1010
12      +62-766-738-4901
13       +62-57-926-3059
14    +62 (447) 608 1087
Name: phone_number, dtype: object

In [121]:
df['cleaned_phone_number'] = df['phone_number'].str.replace(r'^(\+62|62)', '0')

#df['cleaned_phone_number'] = df['phone_number'].str.replace(r'^(62)', '0')
#df['cleaned_phone_number'] = df['phone_number'].str.replace('^+62', '32222323', regex=False)

#df['cleaned_phone_number'] = df['phone_number'].str.replace(r'[-]', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [122]:
df['cleaned_phone_number'] = df['cleaned_phone_number'].str.replace("[\s()-]", '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [123]:
df['cleaned_phone_number'].head(22)

0      01510812706
1      00364617027
2       0898336695
3      04183294756
4       0812511835
5       0113697082
6      02444307220
7      00569319059
8       0118261289
9       0861561327
10     00045616831
11     03040751010
12     07667384901
13      0579263059
14     04476081087
15      0930630588
16     08572635384
17     06313638240
18     07835295810
19      0835045393
20    007487231906
21      0853316705
Name: cleaned_phone_number, dtype: object

Created column "team name", merged of column first name, last name, country and institute

In [124]:
df.columns

Index(['participant_id', 'first_name', 'last_name', 'birth_date', 'address',
       'phone_number', 'country', 'institute', 'occupation', 'register_time',
       'KodePos', 'kota', 'github_profile', 'cleaned_phone_number'],
      dtype='object')

In [126]:
def func(col):
  abbrev_name = "%s%s"%(col['first_name'][0], col['last_name'][0])
  country = col['country']
  abbrev_institute = "%s"%(''.join(list(map(lambda word: word[0], col['institute'].split()))))

  return "%s-%s-%s"%(abbrev_name, country, abbrev_institute)

df['team_name'] = df.apply(func, axis=1)

In [129]:
df['institute'].head()

0         UD Prakasa Mandasari
1       Universitas Diponegoro
2     UD Hardiansyah Puspasari
3    Perum Tampubolon Yuliarti
4       PT Hardiansyah Rahimah
Name: institute, dtype: object

In [130]:
df['team_name'].head()

0       CN-Georgia-UPM
1    AS-Korea Utara-UD
2        CH-Komoro-UHP
3       SR-Eritrea-PTY
4      VA-Aljazair-PHR
Name: team_name, dtype: object

**create email column with spesification
xxyy@aa.bb.[ac/com].[cc] **

1.   xx is first name
2.   yy is last name
1.   aa is the name institute

> if aa, is university. bb merge of first for first word from university, followed .ac

> if not, followed .com

4.   cc, is country from participant.

> if just one word, take 3 first letter

> if not, take 1 from every words

example:
first: Citra
last: Nurdiyanti
institusi: UD Perkasa Mandasari
Country: Georgia
So, Email: citranurdiyanti@upm.geo



example:
first: Aris
last: Setiawan
institusi: Universitas Diponegoro
Country: Korea Utara
So, Email: arissetiawan@ud.ac.ku

In [131]:
def func(col):
  firstname_lower = col['first_name'].lower()
  lastname_lower = col['last_name'].lower()
  institute = ''.join(list(map(lambda word : word[0], col['institute'].lower().split())))

  if 'Universitas' in col['institute']:
    if len(col['country'].split()) > 1:
      country = ''.join(list(map(lambda word : word[0], col['country'].lower().split())))
    else:
      country = col['country'] [:3].lower()
    return "%s%s@%s.ac.%s"%(firstname_lower, lastname_lower, institute, country)
  
  return "%s%s@%s.com"%(firstname_lower, lastname_lower, institute)

df['email'] = df.apply(func, axis=1)

In [132]:
df['email'].head(11)

0         citranurdiyanti@upm.com
1           arissetiawan@ud.ac.ku
2       corneliahandayani@uhp.com
3             solehrajasa@pty.com
4              viviastuti@phr.com
5     bahuraksamangunsong@cmh.com
6            tiaramaryati@uiw.com
7             dimazgunarto@pp.com
8        zizipuspasari@ubs.ac.gam
9          cecepharyanto@pppt.com
10        vanyayuliarti@uj.ac.fin
Name: email, dtype: object

In [134]:
df['birth_date'].head(11)

0     05 Feb 1991
1     11 Jan 1993
2     31 Jul 1993
3     04 Nov 1991
4     22 Jan 2003
5     13 Nov 1997
6     10 Mar 1994
7     16 Feb 2000
8     11 Apr 2002
9     15 Jan 1994
10    09 Apr 1998
Name: birth_date, dtype: object

In [136]:
df['birth_date'] = pd.to_datetime(df['birth_date'], format='%d %b %Y')

In [137]:
df['birth_date'].head(11)

0    1991-02-05
1    1993-01-11
2    1993-07-31
3    1991-11-04
4    2003-01-22
5    1997-11-13
6    1994-03-10
7    2000-02-16
8    2002-04-11
9    1994-01-15
10   1998-04-09
Name: birth_date, dtype: datetime64[ns]

In [138]:
df['register_time'].head()

0    1.617634e+09
1    1.617634e+09
2    1.617634e+09
3    1.617634e+09
4    1.617634e+09
Name: register_time, dtype: float64

In [139]:
df['register_at'] = pd.to_datetime(df['register_time'], unit='s')

In [140]:
df['register_at'].head()

0   2021-04-05 14:47:26
1   2021-04-05 14:46:58
2   2021-04-05 14:47:15
3   2021-04-05 14:47:14
4   2021-04-05 14:46:50
Name: register_at, dtype: datetime64[ns]